*{
    margin: 0;
    padding: 0; 
}
@font-face{
    font-family: 'Nike';
    src: url(../Font/DINNextLTPro-MediumCond.otf);
}
html{
    position: relative;
}
body{
    background: #c8cfdc;
    position: relative;
    font-family: 'Nike';
}
#header{
    background: #ffffff;
    width: 93%;
    margin-left: 3.5%;
    margin-top: 3.5%;
    height: 90px;
}
#header img{
    display: inline-block;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
#list{
    display: inline-block;
    margin-top: 40px;
    font-size: 12px;
}
#list li{
    display: inline-block;
    margin-left: 40px;
}
#list li a{
    text-decoration: none;
    color: black;
}
#list li a:hover{
    color: #0089cf;
    border-bottom: 4px solid #0089cf;
    padding-bottom: 30px;
    -webkit-transition: .5s;
}
#list1{
    float: right;
    margin-top: 40px;
    margin-right: 25px;
    font-size: 12px;
}
#list1 li{
    display: inline-block;
    margin-right: 10px;
}
#list1 li a{
    text-decoration: none;
    color: black;
}
#list1 img{
    margin-top: 0;
}
#list1 img{
    margin-right: 3px;
}
#search{
    margin: 0;
    padding: 0;
}




#top{
    background: #ffffff;
    width: 93%;
    margin-left: 3.5%;
    height: 610px;
}
#shoes{
    display: inline-block;
}
#heart:hover{
    box-shadow: grey 2px 5px 5px;;
}
#shoes img{
    width: 550px;
    margin-top: 150px;
    margin-left: 120px;
}
#shoes1 img:hover{
    box-shadow: grey 2px 5px 5px;;
}
#product{
    display: inline-block;
    float: right;
    margin-right: 150px;
    margin-top: 60px;
    width: 250px;
}
#product h3{
    margin-top: 30px;
    font-size: 17px;
}
#product h1{
    font-size: 23px;
}
#product p{
    margin-top: 20px;
    color: #0089cf;
    font-size: 10px;
}
#product span{
    color: #8f8f8f;
}
#product h6{
    color: #8f8f8f;
}
#shoes1 img{
    width: 80px;
    margin-top: 15px;
    border: 1px solid #e4e4e4;
}
#shoes1 p{
    margin-top: 20px;
    color: #b8b8b8;
    font-size: 9px;
}
#img{
    margin-left: 10px;
}

.size1 {
    display: inline-block;
    clear: both;
    padding: 0;
    margin: 0;
    height: 50px;
    border: 1px solid #ccc;
    width: 105px;
    overflow: hidden;
    background-color: #fff;
    background-image: url(../IMG/Icones/arrow.png);
    background-repeat: no-repeat;
    float: left;
    margin-top: 15px;
}
.size1 select {
   margin-top: 8px;
   padding-top: 13px; 
   width: 130%;
   border: none;
   box-shadow: none;
   background-color: transparent;
   background-image: none;
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
   font-size: 10px;
   font-weight: 400;
   color: #666666 ;
}
.btn{
    width: 105px;
    height: 32px;
    background: #333333;
    color: #c9c9c9;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    padding-top: 20px;
    margin-top: 15px;
}


#feat1{
    background-image: url(../IMG/bg-shoes.png);
    background-size: contain;
    width: 93%;
    margin-left: 3.5%;
    height: 613px;
}
#feat1 h3{
    font-size: 20px;
    padding-left: 70px;
    padding-top: 240px;
    color: #ffffff;
}
#feat1 p{
    font-size: 13px;
    padding-left: 70px;
    margin-top: 17px;
    line-height: 19px;
    color: #f1f1f0;
    font-family: 'Roboto';
}



#feat2{
    background-image: url(../IMG/bg-Nike.png);
    background-size: contain;
    width: 93%;
    margin-left: 3.5%;
    height: 614px;
    position: relative;
}
#feat2 ul{
    display: inline-block;
    padding-top: 100px;
    padding-left: 70px;
}
#feat2 ul li{
    list-style: none;
}
#feat2 h3{
    font-size: 17px;
}
#feat2 h4{
    font-size: 15px;
}
#feat2 h5{
    color: #666666;
    font-size: 10px;
}
#feat2 p{
    color: #a8a8a8;
    font-size: 11px;
    font-family: 'Roboto';
    line-height: 20px;
}
.part2{
    margin-top: 10px;
}
.part3{
    margin-top: 25px;
}
.part4{
    margin-top: 25px;
}
.part5{
    margin-top: 20px;
}
.part6{
    margin-top: 5px;
}
.part7{
    margin-top: 15px;
}
.part8{
    margin-top: 5px;
}
.part9{
    margin-top: 15px;
}
.part10{
    margin-top: 5px;
}
.part11{
    margin-top: 15px;
}
.part12{
    margin-top: 5px;
}
#box{
    width: 265px;
    height: 420px;
    background: #ffffff;
    border: 4px solid #e4e4e4;
    display: inline-block;
    right: 48px;
    top: 186px;
    position: absolute;
    float: right;
}
#box h2{
    margin-left: 20px;
    margin-top: 15px;
}
#box p{
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Roboto';
}
#box h6{
    margin-left: 20px;
    margin-top: 15px;
    color: #0089cf;
}
#box img{
    width: 230px;
    margin-left: 20px;
    margin-top: 50px;
}
#box h5{
    display: inline-block;
    margin-left: 20px;
    margin-top: 50px;
}
#box h4{
    font-size: 10px;
}
#price{
    float: right;
    margin-right: 20px;
}
.size2 {
    display: inline-block;
    clear: both;
    padding: 0;
    margin: 0;
    height: 50px;
    border: 1px solid #ccc;
    width: 105px;
    overflow: hidden;
    background-color: #fff;
    background-image: url(../IMG/Icones/arrow.png);
    background-repeat: no-repeat;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}
.size2 select {
   margin-top: 8px;
   padding-top: 13px; 
   width: 130%;
   border: none;
   box-shadow: none;
   background-color: transparent;
   background-image: none;
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
   font-size: 10px;
   font-weight: 400;
   color: #666666 ;
}
.btn2{
    float: right;
    margin-right: 20px; 
}

#social{
    background: #ffffff;
    width: 93%;
    margin-left: 3.5%;
    height: 660px;
}
#social h3{
    padding-top: 110px;
    padding-left: 70px;
}
#social h1{
    padding-left: 70px;
}

.swiper-container {
    width: 92.4%;
    margin-top: 45px;
}
.swiper-container img{
    width: 270px;
}

.swiper-slide {
    text-align: center;
    font-size: 10px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    }